@media only screen and (max-width: 479px) {
	.mainbox{
		width: 90%;
	}
}

.mainbox {
	margin-top:15px;
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: white;
	border: 1px solid blue;
	height: 500px;
	width: 400px;
	margin-left: 200px;
	margin-top: 200px;
	box-shadow: 1px 2px;
}
#first-textbox {
	margin-top: 85px
}

.image {
	transition: .5s ease;
	position: absolute;
	top: 98px;
	right: 142px;
}
.image-container:hover .image {
	background-color: aqua;
	opacity: 0.2;
}

.second-input {
	top: 140px;
	color: green;
}

.second-drop {
	display: none;
}

#submit-button {
	position: relative;
	display: inline-block;
	text-align: center;
	top: 285px;
	margin-right: 156px;

}

.currency-buttons:hover {
	color: green;
}

.form-control {
	color: purple;
}
.wrapper {
	text-align: center;
}
#button1 {
	position: static;
	top: 50%;
}
#error-message {
	display:none;
	position: relative;
}

#final {
	display: none;
	position: relative;
}
