
.mainbox {
	margin-top:15px;
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: white;
	border: 1px solid blue;
	height: 500px;
	width: 400px;
	margin-left: 663px;
	margin-top: 200px;
	box-shadow: 1px 2px;
}
#first-textbox {
	margin-top: 85px
}

#image {
	position: absolute;
	top: 98px;
	right: 142px;
}

.second-input {
	top: 140px;
	color: green;
}

.second-drop {
	display: none;
}

#submit-button {
	position: relative;
	display: inline-block;
	text-align: center;
	top: 285px;
	margin-right: 156px;

}

.currency-buttons:hover {
	color: green;
}

.form-control {
	color: purple;
}
#error-message {
	display:none;
	position: relative;
}

#final {
	display: none;
	position: relative;
}
