@media only screen and (max-width: 479px) {
	.mainbox{
		width: 90%;
	}
}

a:hover {
	color: blue;
}
.mainbox {
	margin-top:15px;
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: white;
	border: 1px solid blue;
	height: 500px;
	width: 400px;
	margin-left: 35%;
	margin-top: 200px;
	box-shadow: 1px 2px;
}
#first-textbox {
	margin-top: 85px
}

.image {
	transition: .5s ease;
	position: absolute;
	top: 98px;
	right: 142px;
}
.image-container:hover .image {
	background-color: aqua;
	opacity: 0.2;
}

.second-input {
	top: 140px;
	color: green;
}

#after-second-input {
	color: #5712de;
	border-color:#5712de;
}

#after-second-input:hover {
	background-color: #5712de;
	color: white;
}

#secondlist {
	border-color: #5d17e1;
	color: #5d17e1;
}

.currency-buttons:hover {
	color: green;
}

.form-control {
	color: purple;
}
.wrapper {
		align-items: center;
		justify-content: center;
}
#button1 {
	top: 70%;
	left: 45%;
	margin: 180px -49px;
	padding-bottom: 9px;
}
#error-message {
	display:none;
	position: relative;
}

#final {
	display: none;
	position: relative;
}
