@media only screen and (max-width: 479px) {
	.mainbox{
		width: 90%;
	}
}

body {
	background-color: rgba(250,250,250,0.7);
}

a:hover {
	color: blue;
}
.mainbox {
	border-radius: 2%;
	margin-top:15px;
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: white;
	border: 1px solid rgb(226, 226, 233);
	height: 500px;
	width: 400px;
	margin-left: 35%;
	margin-top: 200px;
	box-shadow: 1px 2px 6px 3px gray;
}
#first-textbox {
	margin-top: 85px
}

.switchBubble {
	visibility: hidden;
}

.list {
	list-style-type: none;
}

.image {
	border-radius: 20px;
	transition: .5s ease;
	position: absolute;
	top: 98px;
	right: 170px;
}
.image-container:hover .image {
	box-shadow:inset 0 1px 2px 1px purple;
}

.second-input {
	top: 140px;
	color: green;
}

#after-second-input {
	color: #5712de;
	border-color:#5712de;
}

#after-second-input:hover {
	background-color: #5712de;
	color: white;
}

#secondlist {
	border-color: #5d17e1;
	color: #5d17e1;
}

.currency-buttons:hover {
	color: green;
}

.form-control {
	color: purple;
}
.wrapper {
		align-items: center;
		justify-content: center;
}
#button1 {
	top: 70%;
	left: 45%;
	margin: 180px -49px;
	padding-bottom: 9px;
}
#error-message {
	display:none;
	position: relative;
}

#final {
	display: none;
	position: relative;
}


/* .currency:hover {
	background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
} */

#first-list li:hover {
	color:white;
	background-color: #2a2a72;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}


#second-list li:hover {
	color:white;
	background-color:#9921e8;
	background-image:linear-gradient(315deg, #9921e8 0%, #5f72be 74%);	
}

#secondCurrencyLabel {
	color:purple;
	border-color: purple;
}